<h1>About Us</h1>

<p>This website should be used as your own personal space to record your travels. Upload pictures, write about your journeys and plan your next trip. It is your personal Travel diary</p>