<div class="center hero-unit">
  <h1>Welcome to Travel Diaries</h1>

  <p>
    Pen down your memories as you travel the world.
  </p>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("TravelDiary.jpg", alt: "TravelDiary") %>
<%= link_to image_tag("TravelDiaries2.jpg", alt: "TravelDiary") %>
<%= link_to image_tag("Traveldiaries3.jpg", alt: "TravelDiary") %>